<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가용 리전</title>
    <link rel="stylesheet" href="/css/ar.css" />
  </head>
  <body>
    <%- include('../base.ejs') %>

    <h2>가용 리전</h2>

    <div class="card-container">
      <% availabilityRegions.forEach(region => { %>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= region.ZoneName %></h3>
          <span
            class="status-badge <%= region.State === 'available' ? 'status-available' : 'status-unavailable' %>"
          >
            <%= region.State %>
          </span>
        </div>
        <div class="card-body">
          <p><strong>Zone ID:</strong> <%= region.ZoneId %></p>
          <p><strong>Region Name:</strong> <%= region.RegionName %></p>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
